node_modules
package-lock.json
*.log
*.dot
*.iml
*~
target/
plugins/jenkins/work
build
transitionLog.txt
evosuite-report
.DS_Store
.project
.settings
.classpath
.idea
bin/
examples/mine/
examples/plot/
examples/indi_plot/
src/main/resources/log4j.properties
*.orig
master/dependency-reduced-pom.xml
shaded/dependency-reduced-pom.xml
standalone_runtime/dependency-reduced-pom.xml
temp
